# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files (large files should not be pushed)
data/*.csv
data/*.xlsx

# Model files
*.pkl
*.h5

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/